@import url();
body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "header header header header header" "aside aside main main main";
    height: 100vh;
   
    
    
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    grid-area: header;
    
    
}

.menu-logo img{

   margin-right: 30px;
}

.search-area{
    display: flex;
    align-items: center;
    width: 404px;
    height: 40px;
    
}

.text{
    width: 348px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
}

.search-button{
    display: flex;
    width: 57px;
    height: 40px;
    padding: 21px 15px;
    border: 1px solid #CCCCCC;
    align-items: center;
    justify-items: center;
    
    
}

.search-button img{
    width: 24px;
    height: 24px;
    
}

.video-bell-profile img{
    margin-left: 20px;
}

.profile{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}


.aside{
    grid-area: aside;
    width: 218px;
    background-color: orange;
    margin: 25px;

}


.titles{
    
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.5;
    vertical-align: top;

    
}






main{
    width: 1200px;
    height: 800px;
    margin: 25px;
    background-color: aqua;
}



