body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "header header header header header";
   
    
    
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    grid-area: header;
    
    
}

.menu-logo img{
   margin-right: 30px;
}

.text{
    width: 21.75rem;
    height: 40px;
    margin-right: 0;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    resize: none;
    

}

.search-button{
    
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    height: 40px;
    padding: 20px;
    cursor: pointer;
    
    
}


    

